<form action = "/news_scrapper" method="POST">
    <input type="text" name = "id" placeholder="news"> 
    <button type="submit">
        Save
    </button>
</form>
<form action = "/quest" method="POST">
    <input type="text" name = "id1" placeholder="search"> 
    <button type="submit">
        Save
    </button>
</form>
<form action = "/database" method="POST">
    <input type="text" name = "id2" placeholder="database"> 
    <button type="submit">
        Save
    </button>
</form>
<form action = "/database_cantidad_empresas_por_sector" method="POST">
    <input type="text" name = "id3" placeholder="database_cantidad_empresas_por_sector"> 
    <button type="submit">
        Save
    </button>
</form>
<form action = "/get_list_companies" method="POST">
    <input type="text" name = "id4" placeholder="get_list_companies"> 
    <button type="submit">
        Save
    </button>
</form>